@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --main-color: #2482ced8;
  font-family: "Cairo", sans-serif, Avenir, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif, Avenir, Helvetica, Arial, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* For WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track (the background of the scrollbar) */
}

*::-webkit-scrollbar-thumb {
  background-color: var(
    --main-color
  ); /* Color of the thumb (the draggable part) */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f1f1f1; /* Optional border around the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Thumb color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Sets the width of the scrollbar */
  scrollbar-color: var(--main-color) #f1f1f1; /* Thumb and track colors */
}

*::-webkit-scrollbar-button {
  display: none;
}

@layer utilities {
}

.empty-button {
  min-width: 100px;
  padding: 7px 24px;
  border-radius: 12px;
  background-color: transparent;
  border: 2px solid var(--main-color);
  transition: 0.15s ease-in-out;
  text-align: center;
  font-weight: 800;
}
.empty-button:hover {
  background-color: var(--main-color);
  color: white !important;
}
.filled-button {
  min-width: 150px;
  padding: 14px 24px;
  border-radius: 12px;
  transition: 0.15s ease-in-out;
  text-align: center;
  font-weight: 700;
  background-color: var(--main-color);
  color: white;
}
.filled-button:hover {
  background-color: transparent;
  color: var(--main-color) !important;
  outline: 1.7px solid var(--main-color);
}

/* Customize Swiper dots (pagination bullets) */
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5); /* Default dot color */
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #2482ced8; /* Active dot color */
  width: 14px;
  height: 14px;
}

.employement-section {
  align-items: center;
  background: url("./public/Images/sections-bg.png"); /* Main color */
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  color: #fff;
  display: flex;
  min-height: 37vh;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}

.detilas-p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 2.5;
}
.sections-background {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.sections-background::before {
  background-color: #00000094;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sections-title {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-shadow: 0 4px 4px #2482ced8;
  left: 0 !important;
  position: absolute;
  right: -4%;
  top: 38%;
  z-index: 20;
}
.clip-path-closed {
  clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
}

.clip-path-open {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.contact-us {
  background: url("./public/Images/ContactUS.jpg") no-repeat center center;
  background-size: cover; /* Ensures the image covers the entire area */
  width: 100%;
  height: 100%;
}

.contact-form-field {
  border-bottom: 2px solid #374151;
  outline: none;
  padding-bottom: 4px;
}
.css-hlgwow {
  padding: 2px 0 !important;
}
.contact-form-field::placeholder {
  color: #6b7280;
  font-size: 16px;
  font-weight: 500;
}

.detilas-p-2 {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 2.5;
  text-align: justify;
}
.test33 {
  background: linear-gradient(91deg, #003054 14.71%, #005ea1 90.5%);
}
